*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    background-color: bisque;
    background-image: url("../images/13.png");
    background-repeat: repeat;
    font:20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    display: flex;
}
/* header section */
header {
    margin: 0 0 50px 0;
    background-color: #ffffff;
    height: 90px;
    box-shadow: 0 5px 5px #777777;
    user-select: none;
}
/* stylish navigation bar */
.navBar {
    color: #000000;
    line-height: 90px;
}
.nav-link{
    margin-right: 20px;
    color: #f4f4f4;
    cursor: pointer;
   }
.nav-link:hover{
   
    color: darkslategray;
   }
   .navbar-toggler{
    background:#fff;
  }
  #navCenter {
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    line-height: 74px;
}
.nav-item:hover{
    color: #ffffff;
   }
   .nav-item:link, .nav-item:visited {
    color: #ffffff;
    text-decoration: none;
}
.navEnd {
    margin-right: -15px;
}

/* Styling for the '|' character in the navbar. Keeps it inline with the menu items */
.divider {
    padding-top: 7px;
    color: #cccccc;
}
.title {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #ffffff;
    
    width: max-content;
    padding: 0 25px 0 25px;
    line-height: 90px;
    margin: 0;
 
}
/* stylish about me */
.about{
    margin: 60px 0;
    padding: 20px;
    position: relative;
   }
   .about h3{
    color: darkslategray;
    margin: 30px 30px 30px 60px;
   }
   br{
       
    }
   .about img{
    height: 100%;
       width: 100%;
       border-radius: 50%
   }
   .about span{
    display: block;
    font-size: large;
    color: #10828C;
    position: absolute;
    left: 115px;
   }
   .about h4{
    color: #10828C;
   }
   .about  p{
    line-height:2;
    color:#888;
   }


   /* portfolio */
   .portfolio{
    margin: 60px 0;
       position: relative; 
   }
   .portfolio h3{
       margin: 30px 30px 30px 90px;
    color: darkslategray;
    
   }
   .portfolio img{
     height: 200px;
     width: 400px;
     margin: 20px;
   }


   /* Contact form */
   .contact{
    margin: 100px 0;
    position: relative;  
   }
   .contact h3{
       margin-left: 75px;
    padding:30px 1px;
    color: darkslategray; 
   }
   .contact .center{
    max-width: 600px;
   }
   .contact .center .btn-secondary{
    background: #10828C;
    color: #fff;
    border:0;
   }

   .contact .center .form-control::placeholder{
    color: #888;
    font-size: 16px;
   }

   /* footer */

   .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    
   }
   /* footer content display */
   .footer span{
       color: #fff;
       text-align: center;
       display: block;
       width: 100%;
   }
   
   
   @media screen and (max-width: 640px){
    
    /* Update navigation bar to fill entire width and move nav below it */
    #navbarSupportedContent{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .navbar {
        flex-direction: column!important;
    } 
    a.navbar-brand{
        width: 140%;
        margin:0;
        text-align: center;
    }
}
@media (max-width: 767px) {
    h2 {
        width: 100vw;
        margin-left: 0;
    }

    .row, .col-md-7, .col-md-5 {
        padding: 0;
        margin: 0;
    }

    header {
        height: 140px;
    }

    .btn {
        width: 100%;
    }


    #navCenter {
        justify-content: center;
        width: 100vw;
        line-height: 100%;
    }

    #headerMobile {
        margin: 0;
        padding: 0; 
    }
}
